
* { box-sizing: content-box; }

.list, .cats {
	padding: 15px 10px;
}

.item {
	position: relative;
	padding: 5px;
	
}

.item:nth-child(2n) {
	background-color: #ffffff;
}
.item:nth-child(2n+1) {
	background-color: #eeeeee;
}

.item .title {
	display: inline-block;
	vertical-align: top;
	width: 30%;
	position: relative;
}

.item .main-title {
	margin-bottom: 4px;
	font-size: 12pt;	
}

.item .alt-title {
	font-size: 9pt;
	color: #444444;
}

.row{
	color: #444444;
	font-size: 10pt;
	display: inline-block;
	vertical-align: top;
	width: 90%;
	position: relative;
}
.item .desc  {
	color: #444444;
	font-size: 12pt;
	display: inline-block;
	vertical-align: top;
	width: 70%;
	position: relative;
}

.item .badge {
	margin-top: 10px;
	font-size: 10pt;
	border-radius: 2px;
}

.cat {
	display: inline-block;
	vertical-align: top;
	margin: 5px;
	padding: 5px;
	background-color: #dbdeec;
	border-radius: 20px;
	cursor: pointer;
}


.current {
	background-color: pink;
	cursor: default;
}


.highlight { 
	background-color: yellow; 
}



#current{
	background-color: burlywood;
}

.modal-header{
	height:40px;
}
#ModalLabel{
	font-size:14pt;
}
.close{
	margin-top:15px;
	margin-right:15px;
}
.modal {
	text-align: left;
	
	position: absolute;
	left: 50%;
	top: 50%;

}
 .modal-dialog {
  padding-top: 15%;
  
}
.input-labels{
	padding-top: 1.5%;
	font-size:16px;
}

#titleinput, #titleinput2, #descriptioninput, #alphasort, #comments, #relationship, #location, #verification{
	height:60px;
	
}

.dropdown-menu {
	width: 500px;
  }

.scrollable-menu {
	height: auto;
	max-height: 30vh;
	overflow-x: hidden;
  }

#row2{
	padding-left: 5%;
}

.split {
	height: 100%;
	position: fixed;
    width: 48%;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 20px;
}
.split2 {
	height: 100%;
	position: fixed;
    width: 52%;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 20px;
}

/* update */
.verified-terms {
    left: 0;
    background: rgb(255, 198, 198)
}

.verified-styles {
    right: 0;
	background-color: rgba(199, 243, 215, 0.904)
}

.results> .list> .recent-item{
	font-size: 12pt;
}
